/*Top header beginning*/

.top-header {
    background-color: rgb(224, 216, 216);
    height: 25px;
    text-align: center;
}

/*Begin mid header*/
.mid-header img{
    height: 100px; 
    width: 100px;
    margin: 15px 15px 15px 30px;
    float: right;
}

.mid-header p{
    margin: 40px 0px 40px 0px;
    float: right;
}

/*Begin navbar*/
.navbar {
    background-color: rgb(185, 169, 17) !important;
    height: 35px;  
}

.navbar-nav {
    width: 100%;
}

.navbar ul{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*Begin footer*/
#wrapper {
    background-color: rgba(143, 132, 75, 0.9);
    height: 400px;
}
.footer{
    padding-top: 30px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

.copyright {
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
